@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  transition: all ease 0.3s;
}

div {
  outline: none;
}

.container-home {
  background-image: url("../Assets/textures/backgound-home.png");
  background-size: cover;
  margin-top: 41pt;
}

.white-mode.container-home {
  background: #f8f9fb !important;
}

.container {
  padding: 30px 75px;
}

.flex-end {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
}

.title {
  font-size: 28px;
}

.white {
  color: white !important;
}

.white-mode {
  .white,
  .btn-open,
  span.hashtag {
    color: #1f2941 !important;
    border-color: #1f2941 !important;
  }
}

.b {
  font-weight: bold;
}

/* Button styles **/

.btn-success {
  background-color: #56b05b !important;
  border: none !important;
  padding: 8px 18px !important;
  height: unset !important;
  color: white !important;
}

.btn-outlined {
  background-color: transparent !important;
  padding: 8px 18px !important;
  height: unset !important;
  color: white !important;
}

.header-PL .btn-outlined {
  color: inherit !important;
}

.btn-default {
  background: transparent !important;
  padding: 8px 13px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: #80808024 !important;
  }

  &:active,
  &:link {
    background: #8080804f !important;
  }
}

.btn-small {
  padding: 4px 7px 4px 7px;
}

.btn-round {
  border-radius: 100%;
}

.btn-icon {
  position: relative;
  top: 2px;
  left: 4px;
}

.btn-inlined {
  display: inline-flex !important;
  height: 32px;
}

[class*="btn-"].disabled:hover {
  cursor: not-allowed;
  background: none !important;
}

.icon {
  max-height: 22px;

  &.medium {
    max-height: 17px;
  }

  &.small {
    max-height: 12px;
  }
}

.btn-small img.icon {
  height: 12.7px;
  vertical-align: middle;
  margin-bottom: 2.4px;
}

main.container.container-manager {
  &.white-mode .white-icon {
    filter: unset;
  }

  &:not(.white-mode) .white-icon {
    filter: brightness(10);
  }
}

hr.line,
.hr {
  margin: 0;
  border-color: #d4d8dd;
  margin-block-end: 8px;
  margin-block-start: 8px;
}

h3 {
  font-size: 18px !important;
  margin-bottom: 8px !important;
}

.left-col {
  padding-right: 10px !important;
}

.right-col {
  padding-left: 10px !important;
}

.right {
  text-align: right !important;
}

.list-authors {
  display: flex !important;
  flex-wrap: wrap;
}

.list-hashtags {
  display: flex !important;
  flex-wrap: wrap;
  width: calc(100% + 19px);
}

section.section {
  margin-bottom: 24px !important;
}

span.hashtag {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.65);
  margin-right: 19px;
  opacity: 0.65;
}

.L-1 {
  line-height: 1 !important;
}

.center {
  text-align: center;
  justify-content: center !important;
}

.list-authors-cards {
  margin-top: 16px;
}

.p-content {
  display: contents !important;
}

.btn-open img.icon {
  margin-left: 8px;
}

.btn-add-playlist img.icon {
  margin-right: 12px;
}

.middle {
  vertical-align: middle !important;
}

div.inline {
  display: inline !important;
}

.inverse-direction {
  transform: rotate(180deg) !important;
}

span.caroussel-title {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1;
  color: #1f2941;
  position: absolute;
}


.rt{
  background: red;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 20vh;
  left: 50vw;
  padding: 2em;
  border-radius: 50%;
}