@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap");

// @import url("./landing-responsive.scss");

.landing *,
h1,
p, b {
  font-family: "Cairo", sans-serif;
  font-size: 16px;
}
.landing {
  max-width: 1440px !important;
  margin: 0 auto;
  overflow-x: hidden;
}

.landing-nav-bar {
  background: transparent !important;
  box-shadow: unset !important;
  height: 106px;
  z-index: 30 !important;
  width: 100%;
  max-width: 1440px !important;
  position: fixed;

  transition: all ease 0.4s !important;
  img.logo {
    height: 38px;
  }
  &.ant-layout-header {
    padding: 37px 48px !important;
    background: transparent !important;
    height: unset !important;
    transition: all ease 0.4s !important;
  }
  &.white-nav {
    transition: all ease 0.4s !important;
    padding: 2px 48px !important;
    background: #fff !important;
    height: unset !important;
    box-shadow: 0px 3px 3px rgba(39, 47, 58, 0.2247) !important;
    animation: fadeIn;
  }

  .menu-item {
    margin-right: 44px;
    color: #322f2f;
    font-size: 16px;
    line-height: 17px;
    cursor: pointer;
  }
  .btn-login {
    padding: 0px 58px;
  }
}
// background-image: url(/landing-page/first-screen-ellipse.png);
.landing-page-container .section1{
  background: linear-gradient(45deg, #65d2a5 0%, #2fbcd8 100%), #ffffff !important;
  min-height: 100vh;
  div.img-me {
    background-image: url(../images/me.jpg);
    background-size: cover;
    background-position: center;
  }
}
item{
  outline: none;
}
.testmonial{
  padding: 8vh 13vw;
  min-height: 66vh;
  // background-image: url(../images/world-dots.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: right;
}
.timeline, .portfolio, .certifs, footer{
  padding: 8vh 9vw;
}
.certifs{
  .rec.rec-carousel-item img {
  max-height: 300px;
}
}
span.ant-tag {
  border-radius: 14pt;
  border: none;
  margin-top: 4px;
}
footer{
  background-color: #226c88;
  min-height: 20vh;
  // height: 50vh;
  img{
    max-height: 100%;
  }
}
.social a {
  border: solid 1px black;
  padding: 8px;
  display: inline-flex;
  transform: rotateZ(45deg);
  color: black;
  font-size: 14pt;
  margin-right: 14px;
  .anticon {
    transform: rotateZ(-45deg);
    transition: all ease .3s;
  }
  transition: all ease .3s;
  &:hover {
    transform: translateY(-10px);
    background-color: black;
    color: white;
    .anticon{
      transform: rotateZ(0deg);
    }
  }
}
.title { // colored text
  background: -webkit-linear-gradient(#743ad5, #d53a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  &::selection {
    background: transparent; /* WebKit/Blink Browsers */
    color: #743ad5;
  }
}

.typeform-share.button {
  width: 94px;
  height: 54px;
  position: fixed;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.08);
  right: 26px;
  bottom: 26px;
  border-radius: 15pt;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #0445af;
  overflow: hidden;
  line-height: 0;
}
.about.button {
  width: 184px;
  height: 54px;
  position: fixed;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.08);
  left: 26px;
  bottom: 26px;
  border-radius: 15pt;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #f7df1e;
  overflow: hidden;
  line-height: 0;
}
.web-svg{
  min-height: 100vh;
  background-image: url(../images/html-svg.svg);
    background-color: #65d2a5;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    h1{

    }
}