.only-mobile {
    display: none !important;
  }
  
  /**
  ** Mobile size
  */
  @media (max-width: 767px) {
    /** Commom-begin */
  
    .testmonial{
      padding: 4vh 4vw;
    }
    .timeline, .portfolio, .certifs, footer{
      padding: 4vh 3vw;
    }
  
    /** manager page end ***/
  }
  
  @media (max-width: 360px) {
    
  }
  
  /**
  MD and more
  */
  @media (min-width: 991px) {
   
  }
  
  /**
  MD and less
  */
  @media (max-width: 991px) {
   
  }